
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <h3 class="font-italic"> Horizonte Transportes LTDA</h3>
<ul class="nav justify-content-end">
  <li class="nav-item">
    <%= link_to 'Fretes' , freights_path %>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">-</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">-</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">-</a>
  </li>
</ul>

</nav>

<center><%= image_tag("horizonte_img.jpg", height: '70%', width: '75%')%> </center>
